<h1>See all lost pets !</h1>

<ul>
  <% @pets.each do |pet|  %>
  <li>
    <%= pet.name %> | <%= pet.species %>
  </li>
  <% end %>
</ul>

<%= link_to new_pet_path do%>
  <i class="fa-solid fa-pen"></i> Create a pet
<% end %>

